<div id="about-page-container" class="about-page-container">
  <section class="header-banner">
    <img
      src="banner-icons/11.png"
      alt="Mabunda Group"
      class="Mabunda-Group-image responsive"
    />
    <div class="title-name">mabunda group</div>
    <div (click)="redirectToContactUs()" class="btn btn-sm banner-button">
      <fa-icon class="card-icon" [icon]="['fas', 'phone']"></fa-icon>
      get in touch
    </div>
  </section>

  <section class="content-section">
    <div class="about-container">
      <section class="description-section">
        <p class="desc-heading">Our Mission</p>
        <hr />
        <p class="desc-paragraph">
          Our aim is to promote a health and safe working environment in an
          inclusive- consultative approach at all spheres of management, all
          employees and interested or affected parties. Knowledge and
          information is shared at the workplace to ensure continual improvement
          as required by International Standards. We aspire to be the preferred
          EHS, CHS and Food Safety Consultancy in industry.
        </p>
      </section>

      <section class="description-section">
        <p class="desc-heading">Our Objectives</p>
        <hr />
        <p class="desc-paragraph">
          Facilitate the Risk Assessment process. Facilitate EHS Management
          Systems. Facilitate Environmental Health and Safety and Food Safety
          training. Facilitate hands on practical solutions to the clients’ EHS,
          CHS and Food Safety challenges. Providing professional advice to the
          convenience of the clients.
        </p>
      </section>
    </div>
  </section>
</div>
