@use '../abstracts' as *;

/*  Rest to default setting */
* {
        margin: 0;
        padding: 0;
        font-size: $global-font-size;
}

body {

        background-image: url('/site-bg/bg.jpg');
        background-size:25%;
        background-repeat: repeat;
        background-attachment: fixed;
}