<div id="gallery-page-container" class="gallery-page-container">
  <section class="header-banner">
    <img
      src="banner-icons/10.png"
      alt="Mabunda Group"
      class="Mabunda-Group-image responsive"
    />
    <div class="title-name">mabunda group</div>
    <div (click)="redirectToContactUs()" class="btn banner-button">
      <fa-icon class="card-icon" [icon]="['fas', 'phone']"></fa-icon>
      get in touch
    </div>
  </section>

  <section class="page-content-description">
    <!-- <p class="content-title">our success stories</p> -->
    <p class="content-description">
      We are excited to share some of the success stories and milestones.
    </p>
    <hr class="content-description-underline" />
  </section>

  <section class="content-section">
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
      class="ngx-gallery"
    ></ngx-gallery>
  </section>
</div>
