<div id="services-page-container" class="services-page-container">
    <section class="header-banner">
        <img
          src="banner-icons/64.png"
          alt="Mabunda Group" 
          class="Mabunda-Group-image responsive"
        />
        <div class="title-name">mabunda group</div>
        <div (click)="redirectToContactUs()" class="btn btn-sm banner-button">
        <fa-icon class="card-icon" [icon]="['fas', 'phone']"></fa-icon>
        get in touch
        </div>
    </section>

    <section class="page-content-description">
        <p class="content-title">PRODUCTS AND SERVICES</p>
        <hr class="content-description-underline" />
    </section>
    
    <section class="content-section">
      <div class="cards-container">
        <div class="card-container " >
            <img src="img/10.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text"> Enviro Health</div>
            <div class="services">
                Assit with compliance to the occupational health and safety
            </div>
        </div>

        <div class="card-container" >
             <img src="img/12.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Enviro Safety</div>
            <div class="services">
                Assist with compilation of OHS files, and Contractor audits.
            </div>
        </div>

        <div class="card-container " >
            <img src="img/47.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Electrical Eng</div>
            <div class="services">
                Electrical installations in buildings, factories and industries
            </div>
        </div>
            
        <div class="card-container" >
            <img src="img/57.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Food Safety</div>
            <div class="services">
                Food Safety Systems Implementation (HACCP and ISO 22000).
            </div>
        </div>

        <div class="card-container " >
            <img src="img/39.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Electronics Eng</div>
            <div class="services">
                Installations and maintenance of Biometric system and Surveillance camera.
            </div>
        </div>

        <div class="card-container" >
            <img src="img/43.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Telecomms</div>
            <div class="services">
                Assisting with the BTS installations and systems configurations.
            </div>
        </div>
  
        <div class="card-container" >
            <img src="img/36.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Fire Services</div>
            <div class="services">
                Install and maintain hose reels and sprinkler systems.
            </div>
        </div>
  
        <div class="card-container" >
            <img src="img/41.png" alt="Mabunda Group" class="card-image" />
            <div class="card-text">Training Services</div>
            <div class="services">
                Provide training related to Hazard Identification Risk Assessment.
            </div>
        </div>

      </div>

    </section>  
</div>
