@use "./variables" as *;
@use "sass:map";

@mixin page-container-styles {
  display: flex;
  flex-direction: column;
}

@mixin page-header {
 
  .weather-container {
    text-align: right;
    font-size: 10px;
    padding-right: 20px;
    margin-bottom: -2em;

    .weather-img {
      height: 38px;
      margin-right: -0.5em;
    }
  }

  .page-title,
  .page-description {
    margin: 12px 0;
    text-transform: uppercase;
  }

  .page-title {
    font-size: $global-font-size + 6px;
    font-weight: bold;
    color: green;
  }

}

@mixin header-banner-styles {
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
  padding: 30px;
  border: 6px solid white;
  text-transform: uppercase;
  color: #fff;

  .Mabunda-Group-image {
    height: 80px;
  }

  .title-name {
    font-size: $global-font-size + 4px;
    padding: 8px 0;
  }

  .banner-button {
    color: #fff;
    padding: 3px 20px;
    margin: 5px 0;
    border: 1px solid lightgrey;
    font-size: $global-font-size -6px;

    &:hover {
      background-color: orange;
      border-color: orange;
    }
  }
}

@mixin page-content-description-styles {
  padding-top: 30px;
  margin: 0 140px;

  .content-title {
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .content-description {
    margin-bottom: 20px;
  }

  .content-description-underline {
    width: 100%;
    margin: 0 auto;
  }
}

@mixin element-box-shadow {
  -webkit-box-shadow: 0px 0px 27px 11px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 27px 11px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 27px 11px rgba(0, 0, 0, 0.59);
}

@mixin icon-styles {
  color: $icon-color;
  margin-right: 5px;
}