/*  Site footer */
@use '../abstracts' as *;

//floating WhatsApp button
.float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    background-color: #25d366;
    color: white;
    border-radius: 9px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 11px #999;
    z-index: 100;

    .my-float {
        margin-top: px;
        font-size: 39px;
    }
}