@use '../abstracts' as *;

.navbar {
    background-color: var(--bg-color);
}

.nav-link {
    color: var(--text-color);

    &:hover {
        color: var(--text-color);
    }

    &:focus {
        color: red;
    }
}

.theme-toggle-containter {
    margin-right: 5px;
    cursor: pointer;
    // color: var(--text-color);
}

@media screen and (max-width: 992px) {

    .navbar {
        .navbar-brand {
            font-weight: bold;
        }

        button {
            margin: 2px 0;
            border-color: gray;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        .navbar-nav {
            text-align: left;
            margin-top: 8px;

            .nav-link {
                border-top: 1px solid rgba(149, 157, 165, 0.3);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        display: none;
    }
}