@use '../abstracts' as *;

#about-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners-img/8.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        margin-top: 10px;
        font-size: $global-font-size + 2px;
        .about-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            padding: 20px 30px;

            .description-section {
                margin: auto;
                max-width: 700px;


                .desc-heading {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: var(--text-color);
                }

            }
        }


    }
}

@include standard-media-queries;

@media screen and (max-width: 680px) {
    #about-page-container {
        .content-section {
            .cards-container {
                flex-direction: column;

                .card-container {
                    .card-btn {
                        padding: 4px 50px;
                    }
                }
            }
        }
    }
}


