@use '../abstracts' as *;

#gallery-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners-img/1.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        padding: 15px 15px 0 15px;

        .ngx-gallery {
            display: inline-block;

            .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
                border: 5px solid lightgray;
            }
        }
    }
}

@include standard-media-queries;

@media screen and (max-width: 579px) {

    #gallery-page-container {
        .content-section {
            padding-top: 10px;
        }
    }
}
