@use '../abstracts' as *;

#home-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners-img/2.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        padding: 5px 50px;
        margin-bottom: 20px;

        .cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            margin-top: 20px;
            justify-content: center;

            .card-container {
                display: flex;
                flex-direction: column;
                padding: 28px 28px;
                margin: 5px 0;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                text-align: center;
                min-width: 100px;
                min-height: 16vh;

                .card-icon {
                    margin-bottom: 15px;
                    color: $icon-color;
                }

                .card-text {
                    text-transform: uppercase;
                    font-size: 12px;

                }

                .card-btn {
                    background-color: yellowgreen;
                    border: none; 
                    border-radius: 6px;
                    padding: 3px 20px;
                    color: #fff;
                    max-width: 100%;
                    margin-top: 15px;
                   
                    &:hover {
                        background-color: red;
                    }
                }

                &:hover {
                    box-shadow: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@include standard-media-queries;

@media screen and (max-width: 480px) {
    #home-page-container {
        .content-section {
            margin: 0px 12px;
            padding: 5px 0 0 0;

            .cards-container {
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                .card-container {
                    border-radius: 0px;

                    .card-btn {
                        padding: 3px 20px;
                        min-width: 100px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    #home-page-container {

        .page-content-description {
            margin: 0 80px;
        }
        .content-section {
            margin: 0px 12px;
            padding: 5px 0 0 0;

            .cards-container {
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                .card-container {
                    border-radius: 0px;

                    .card-btn {
                        padding: 3px 20px;
                        min-width: 100px;
                    }
                }
            }
        }
    }
}