@use '../abstracts' as *;

#services-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners-img/3.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        padding: 10px 15px 0px 15px;

        .cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            margin: 5px 30px 0px 30px;

            .card-container {
                padding: 10px;
                border-radius: 7px;
                margin: 0 5px;

                .card-image,
                .card-text,
                .card-btn {
                    margin: 5px 0;
                }

                .card-image {
                    height: 30px;
                }

                .card-text {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    color: olivedrab;
                }

                .services {
                    padding-bottom: 5px;
                    color: grey;
                }

                &:hover {
                    box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 579px) {

    #services-page-container {
        .header-banner {
            .Mabunda-Group-image {
                height: 45px;
            }
            .title-name {
                font-size: 20px;
            }
            .banner-button {
                font-size: 10px;
                padding: 3px 15px;
                            }
        }

        .page-content-description {
            margin: 0 10px;
        }

        .content-section {
            padding-top: 10px;

            .cards-container {
                grid-template-columns: 1fr 1fr;
                margin: 0;
                padding: 0;

                .card-container {
                    border-bottom: 1px solid lightgray;
                    border-radius: 0px;
                    margin: 6px;

                    &:hover {
                        border-bottom: none;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}

@media (min-width: 580px) and (max-width: 760px) {

    #services-page-container {

        .header-banner {
            .Mabunda-Group-image {
                height: 60px;
            }
        }

        .page-content-description {
            margin: 0 50px;
        }

        .content-section {
            .cards-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}