@use '../abstracts' as *;

#services-page-container {

    @include page-container-styles;

    .header-banner {
        background-image: url('/banners-img/3.jpg');
        @include header-banner-styles;
    }

    .page-content-description {
        @include page-content-description-styles;
    }

    .content-section {
        padding: 10px 15px 0px 15px;

        .cards-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            margin: 0px 30px;

            .card-container {

                display: flex;
                flex-direction: column;

                padding: 20px 5px 0 5px;
                border-radius: 7px;
                margin: 0 5px;

                .card-icon, .card-text, .services {
                    margin-bottom: 10px;
                } 

                .card-icon {
                    color: $icon-color;
                }

                .card-text {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    color: olivedrab;
                }

                .services {
                    padding-bottom: 5px;
                    // border: 1px solid red;
                }

                &:hover {
                    box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 24px;
                    cursor: pointer;
                }
            }
        }
    }
}

@include standard-media-queries;

@media screen and (max-width: 579px) {

    #services-page-container {

        .content-section {
            padding-top: 10px;

            .cards-container {
                grid-template-columns: 1fr 1fr;
                margin: 0;
                padding: 0;

                .card-container {
                    border-bottom: 1px solid lightgray;
                    border-radius: 0px;
                    // margin: 6px;

                    &:hover {
                        border-bottom: none;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}