<div id="contact-us-page-container" class="contact-us-page-container">
  <section class="header-banner">
    <app-map></app-map>
  </section>

  <!--content-section-->
  <section class="content-section">
    <div class="contact-form-container">

     
        

        <p class="form-section-heading">
          CONTACT FORM
        </p>

        <div
          *ngIf="_responseStatus == true"
          class="successResponse"
        >
          <fa-icon
            class="brand-icon"
            [icon]="['fas', 'circle-check']"
          ></fa-icon>
          Your message has been sent successfully!
        </div>

        <div
          *ngIf="_responseStatus == false"
          class="errorResponse"
        >
          <fa-icon
            class="brand-icon"
            [icon]="['fas', 'circle-check']"
          ></fa-icon>
          Sorry! sending form message failed.
        </div>


        <!--form-->
        <form
          [formGroup]="_contactForm"
          class="form"
          id="form"
          (ngSubmit)="sendMesssage()"
        >
        
        <div *ngIf="_loading == true">
          <app-loading-spinner></app-loading-spinner>
        </div>

          <div class="form-group">
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control form-control-sm form-control-textbox"
              placeholder="* Full names"
            />

            <div
              *ngIf="name?.touched && name?.invalid"
              class="form-validation-error-message"
            >
              <div *ngIf="name?.errors?.['required']">* Name required</div>
              <div *ngIf="name?.errors?.['whiteSpace']">
                * Name cannot contain whitespace
              </div>

              <div *ngIf="name?.errors?.['numeric']">
                * Name cannot contain numeric values
              </div>

              <div *ngIf="name?.errors?.['specialCharacter']">
                * Name cannot contain special chatacters
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="email"
              formControlName="email"
              id="email"
              class="form-control form-control-sm form-control-textbox"
              placeholder="* Email address"
            />

            <!--Multiple Validation Error messages -->
            <div
              *ngIf="email?.touched && email?.invalid"
              class="form-validation-error-message"
            >
              <div *ngIf="email?.errors?.['required']">
                * Email address required
              </div>
              <!-- <div *ngIf="name.errors?.['maxlength']"> First name should have a minimum of 5 characters </div> -->
              <div *ngIf="email?.errors?.['email']">
                * Email address format is incorrect
              </div>

              <div *ngIf="email?.errors?.['emailExist']">
                * Email address alreay exist
              </div>
            </div>
          </div>

          <div class="form-group">
            <select
              class="form-control form-select-sm form-control-dropdown"
              id="subject"
              formControlName="subject"
              required
            >
              <!--Binding selected option-->
              <option hidden [defaultSelected]="true" [value]="">
                {{ defaultMessageSubject }}
              </option>

              <option
                *ngFor="let subject of messageSubjects"
                [value]="subject.name"
              >
                {{ subject.name }}
              </option>
            </select>

            <!-- validation error message for dropdown -->
            <div
              *ngIf="subject?.touched && subject?.invalid"
              class="form-validation-error-message"
            >
              <div *ngIf="subject?.errors?.['required']">
                * Please select message subject
              </div>
            </div>
          </div>

          <div class="form-group">
            <textarea
              type="text"
              formControlName="message"
              id="message"
              rows="5"
              maxlength="300"
              class="form-control form-control-sm form-control-textarea"
              placeholder="* Message"
            ></textarea>

            <!--Multiple Validation Error messages -->
            <div
              *ngIf="message?.touched && message?.invalid"
              class="form-validation-error-message"
            >
              <div *ngIf="message?.errors?.['required']">
                * Message required
              </div>

              <div *ngIf="message?.errors?.['whiteSpace']">
                * Message cannot contain whitespace
              </div>

              <div *ngIf="message?.errors?.['minlength']">
                * Message should have a minimum of
                {{message?.errors?.['minlength'].requiredLength}}
                characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <input
              type="submit"
              id="submit"
              value="SUBMIT"
              class="btn btn-sm submit-button"
            />
            <input
              type="reset"
              id="reset"
              value="CLEAR"
              class="btn btn-sm clear-btn"
            />
          </div>
        </form>

      </div>

    <div class="contact-details-container">
      <div class="contact-details">
        <p class="contacts-heading">contact details</p>
        <ul class="contacts">
          <li>
            <fa-icon class="brand-icon" [icon]="['fas', 'phone']"></fa-icon>
            (+27)82 638-4923 (Martin)
          </li>
          <li>
            <fa-icon class="brand-icon" [icon]="['fas', 'envelope']"></fa-icon>
            martin&#64;mabundagroup.com
          </li>
          <li>
            <fa-icon class="brand-icon" [icon]="['fas', 'phone']"></fa-icon>
            (+258)84 065-7493 (Yane)
          </li>
          <li>
            <fa-icon class="brand-icon" [icon]="['fas', 'envelope']"></fa-icon>
            yaner&#64;mabundagroup.com
          </li>
        </ul>
      </div>

      <div class="contact-details">
        <p class="contacts-heading">physical address</p>
        <ul class="contacts">
          <li>
            <fa-icon
              class="brand-icon"
              [icon]="['fas', 'location-dot']"
            ></fa-icon>
            6876 Dijon Street
          </li>
          <li>Lotus Gardens</li>
          <li>Pretoria (ZA)</li>
          <li>0008</li>
        </ul>
      </div>
    </div>
  </section>
</div>
