@use '../abstracts' as *;

:root {
    --bg-color: #ffffff;
    --text-color: grey;
    --font-family: Arial, Helvetica, sans-serif;
    --text-size: $global-font-size -2px;

    /* all pages */
    .page-title {
        --text-color: green;
    }

    /* nav component */
    .navbar {
        --bg-color: #1F1D36;

        .nav-link {
            --text-color: lightgrey;

            &:hover {
                --text-color: green;
            }
        }

        .theme-toggle-containter{
            --text-color: gray;
        }
    }

    /* all pages */
    .content-title {
        --text-color: green;
    }

    .header-banner {
        --header-banner-border-color: #fff;
    }

    /* services page */
    .desc-heading {
        --text-color: green;
    }

    #home-page-container {
        .card-icon {
            --home-card-icon-color: green;
        }
        .card-btn {
            --home-card-btn-bg-color: yellowgreen;
            --home-card-btn-color: #fff;

            &:hover {
                --background-color:  red;
            }
        }
    }

    #services-page-container {
        .card-icon {
            --services-card-icon-color: green;
        }
        .card-header-text {
            --card-header-text-color: #27374D;
        }
    }

    #weather-page-container {
        .today-weather {

            .weather-condition {
                --weather-condition-text-color: red;
            }
    
            .today-weather-details {

                .weather-data-card {
                    --text-size: $global-font-size;
                    --bg-color: #f8f9fa;
                    --text-color: green;
    
                    .title-icon {
                        --text-color: green;
                    }
    
                    &:hover {
                        --bg-color: red;
                        --text-color: #fff;
    
                        .title-icon {
                            --text-color: #fff;
                        }
                    }
                }
            }
        }

        .card-container {
            .summary-icon {
                --card-summary-icon-color: red;
            }

            &:hover {
                --card-container-text-color: #fff;

                .summary-icon {
                    --card-container-icon-color: #fff;
                }
            }

        }
    
    }

    #contact-us-page-container {
        .contact-form-container {
            --contact-form-container-bg-color: #f5f5f5;
            .form-control{
                --form-input-bg-color: #fff;
            }

        }

        .contact-details-container {
            .contact-details {
                --contact-details-bg-color: #f5f5f5;
            }
        }
    }

    .footer-container {
        --bg-color: #1F1D36;
        --text-color: lightgrey;
    }
}

.dark-theme {
    --bg-color: #27374D;
    --text-color: lightgrey;
    --font-family: Arial, Helvetica, sans-serif;
    --text-size: $global-font-size -2px;

    .page-title {
        --text-color: lightgrey;
    }

    .navbar {
        --bg-color: rgb(48, 25, 52);

        .nav-link {
            --text-color: grey;

            &:hover {
                --text-color: #fff;
            }
        }

        .theme-toggle-containter {
            --text-color: lightgrey;
        }
    }

    .content-title {
        --text-color: grey;
    }
    .header-banner {
        --header-banner-border-color: slategrey;
    }
    .desc-heading {
        --text-color: grey;
    }

    #home-page-container {
        .card-icon {
            --home-card-icon-color: grey;
        }
        .card-btn {
            --home-card-btn-bg-color: red;
            --home-card-btn-color: #fff;

            &:hover {
                --background-color:  rgb(48, 25, 52);
            }
        }
    }

    #services-page-container {
        .card-icon {
            --services-card-icon-color: red;
        }
        .card-header-text {
            --card-header-text-color: #fff;
        }
    }

    #weather-page-container {
        .today-weather {

            .weather-condition {
                --weather-condition-text-color: lightgrey;
            }
    
            .today-weather-details {

                .weather-data-card {
                    --text-size: $global-font-size;
                    --bg-color: red;
                    --text-color: #fff;
    
                    .title-icon {
                        --text-color: #fff;
                    }
    
                    &:hover {
                        --bg-color: #f8f9fa;
                        --text-color: grey;
    
                        .title-icon {
                            --text-color: grey;
                        }
                    }
                }
            }
        }

        .card-container {

            .summary-icon {
                --card-summary-icon-color: red;
            }

            &:hover {
                --card-container-text-color: #27374D;

                .summary-icon {
                    --card-container-icon-color: #27374D;
                }
            }

        }
    
    }

    #contact-us-page-container {
        .contact-form-container {
            --contact-form-container-bg-color: rgb(48, 25, 52);
            .form-control {
                --form-input-bg-color: #3c4454;
            }
        }

        .contact-details-container {
            .contact-details {
                --contact-details-bg-color: rgb(48, 25, 52);;
            }
        }
    }

    .footer-container {
        --bg-color: rgb(48, 25, 52);
        --text-color: grey;
    }
}